$bgcolor-dark: #202020;
$light-grey: #999;
$main-orange: #ff6e30;
$darken-orange: #bc572b;
$darkest-orange: #ce4307;
$gap: 30px;
$font-family: "Roboto", sans-serif;
$second-family: "TT Firs Neue", sans-serif;
